@font-face{font-family:'helveticaneuecyrblack';src:url('../fonts/helveticaneuecyr-black-webfont.woff2') format('woff2'),
url('../fonts/helveticaneuecyr-black-webfont.woff') format('woff'),
url('../fonts/helveticaneuecyr-black-webfont.ttf') format('truetype'),
url('../fonts/helveticaneuecyr-black-webfont.svg#helveticaneuecyrblack') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'helveticaneuecyrbold';src:url(../fonts/helveticaneuecyr-bold-webfont.woff2) format('woff2'),
url(../fonts/helveticaneuecyr-bold-webfont.woff) format('woff'),
url(./fonts/helveticaneuecyr-bold-webfont.ttf) format('truetype'),
url(../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbol) format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'helveticaneuecyrlight';src:url(../fonts/helveticaneuecyr-light-webfont.woff2) format('woff2'),url(../fonts/helveticaneuecyr-light-webfont.woff) format('woff'), url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');}
@font-face{font-family:'helveticaneuecyrthin';src:url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
url('../fonts/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');font-weight:normal;font-style:normal;}